<h1 class="text-light"> Iniciar sesion</h1>

<div class="d-flex justify-content-center">

 
<form action="/session/login" method="post">
        
        <div class="mb-3">

        <span class="text-light "> Email: </span><input type="text" name="email" class="form-control"><br>
        <span class="text-light "> Contraseña : </span><input type="text" name="password" class="form-control"><br>
        <br>
        <input type="submit" value="iniciar sesion">
        </div>
        
</form>
</div>