<div class="chat-container text-light">
    <h3>chat</h3>
    
    <div id="message">

    </div>
    <div>
        <b id="usuario"></b> <input type="text" id="chatbox">
    </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>