<h1 class="text-light">Ingrese su nueva Contraseña</h1>
<form action="/session/recoverPassAction/{{token}}" method="post">
    Contraseña: <input class="text-light" type="text" name="password"> <br>
    <input type="submit" value="Modificar">
</form>