 <h1 class="text-light"> Registrar usuario</h1>

    <div class="d-flex justify-content-center">

    
    <form action ="/session/register" method="post">
        <div class="mb-3">       
        <span class="text-light "> Nombre: <input required type="text" name="first_name" class="form-control"></span><br>
        <span class="text-light "> Apellido:</span> <input required type="text" name="last_name" class="form-control"><br>
        <span class="text-light">Email:</span> <input required type="text" name="email" class="form-control"><br>
        <span class="text-light">Edad :</span> <input required type="number" name="age" class="form-control"><br>
        <span class="text-light">Contraseña</span> : <input required type="text" name="password" class="form-control"><br>
        <br>
        <input type="submit" value="crear">
        </div>
    </form>
    </div>